.card {
  padding: 22px 25px;
  box-shadow: 0px 0px 8px 0px #0000002b;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  @media (max-width: 1552.98px) {
    max-width: 250px;
  }
  &:hover {
    transform: scale(1.02);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  .info {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      color: #7e7d7a;
      max-width: 160px;
    }
    b {
      font-weight: 600;
      font-size: 24px;
    }
    .button {
      padding: 13px 15px;
      background-color: #ff902b;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      svg {
        path {
          stroke: #fff;
        }
      }
      &:hover {
        background-color: #fff;
        border: 2px solid #ff902b;
        svg {
          path {
            transition: all 0.3s ease-in-out;
            stroke: #ff902b;
          }
        }
      }
    }
    .button__active {
      padding: 13px 15px;
      background-color: #fff;
      border-radius: 50%;
      border: 2px solid #ff902b;
      svg {
        path {
          fill: #ff902b;
        }
      }
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pricing {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
