.form {
  background: url(../Icons/newsletter.png) no-repeat center;
  background-size: 100%;
  @media (max-width: 479.98px) {
    background-size: 100% 50%;
  }
  .info {
    margin: 120px auto;
    h2 {
      font-size: 32px;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 25px;
      text-align: center;
      @media (max-width: 990.98px) {
        font-size: 20px;
      }
    }
    form {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 700px;
      margin: 0 auto;

      input {
        width: 100%;
        height: 55px;
        border-radius: 42px;
        padding-left: 30px;
        outline: 0;
        outline-offset: 0;
        border: transparent;

        &::placeholder {
          font-weight: 600;
          font-family: "Poppins", sans-serif;
        }
        &:active,
        &:focus {
          font-weight: 600;
          font-family: "Poppins", sans-serif;
        }
      }
      button {
        position: absolute;
        display: flex;
        padding: 10px 37px;
        margin-right: 5px;
        border-radius: 42px;
        background-color: #2f2105;
        border: 2px solid transparent;
        color: #ffffff;
        font-weight: 600;
        right: 0;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: #fff;
          border: 2px solid #2f2105;
          color: #2f2105;
        }
      }
    }
  }
}
