.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 120px;
  padding: 0 130px;
  @media (max-width: 990.98px) {
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
  }

  &__left {
    max-width: 500px;
    h1 {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 30px;
      @media (max-width: 479.98px) {
        font-size: 32px;
      }
    }
    p {
      font-size: 18px;
      color: #7e7d7a;
      margin-bottom: 80px;
      @media (max-width: 479.98px) {
        font-size: 16px;
      }
    }
    span {
      color: #ff902b;
    }

    .hero__left-buttons {
      display: flex;
      gap: 25px;
      @media (max-width: 990.98px) {
        justify-content: center;
        margin-bottom: 50px;
      }
      button {
        display: flex;
        align-items: center;
        border-radius: 33px;
        font-weight: 600;
      }
      .order__btn {
        height: 60px;
        color: #fff;
        background-color: #2f2105;
        border: 3px solid transparent;
        font-size: 24px;
        padding: 13px 32px;
        gap: 10px;
        transition: all 0.2s ease-in-out;
        @media (max-width: 1183.98px) {
          font-size: 16px;
          padding: 10px 20px;
        }
        &:hover {
          background-color: transparent;
          color: #2f2105;
          border: 3px solid #2f2105;
        }
      }
      .menu__btn {
        height: 60px;
        font-size: 24px;
        color: #f4ae26;
        border: 3px solid transparent;
        padding: 10px 30px;
        transition: all 0.2s ease-in-out;
        @media (max-width: 1183.98px) {
          font-size: 16px;
          padding: 10px 20px;
        }
        &:hover {
          border: 3px solid #f4ae26;
        }
      }
    }
  }
  &__right {
    max-width: 525px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
