.card {
  display: flex;
  flex-direction: column;
  max-width: 355px;
  padding: 24px 18px 24px 18px;
  border-radius: 12px;
  background-color: #fff;
  border: 3px solid #e9e1d3;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-1.2%);
  }
  @media (max-width: 479.98px) {
    max-width: 300px;
    width: 100%;
  }
  img {
    border-radius: 15px;
  }
  .info {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 12px 5px;
    font-size: 24px;
    font-weight: 600;
    @media (max-width: 479.98px) {
      font-size: 16px;
      padding: 15px 2px 8px 2px;
    }
  }
  .button {
    display: flex;
    justify-content: space-between;
    @media (max-width: 479.98px) {
      flex-wrap: wrap;
      gap: 0.625rem;
    }
  }

  .cart {
    padding: 15px 17px;
    background-color: #ff902b;
    border-radius: 12px;
    border: 2px solid transparent;
    width: 100%;
    transition: all 0.3s ease-in-out;
    svg {
      path {
        stroke: #fff;
      }
    }
    &:hover {
      background-color: #fff;
      border: 2px solid #ff902b;
      svg {
        path {
          transition: all 0.3s ease-in-out;
          stroke: #ff902b;
        }
      }
    }
  }
  .cart__active {
    padding: 15px 17px;
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #ff902b;
    width: 100%;
    svg {
      path {
        fill: #ff902b;
      }
    }
  }
}

.loader {
  @media (max-width: 479.98px) {
    rect {
      width: 250px;
    }
  }
}
