.menu {
  background-color: rgb(246, 235, 218);
  .title {
    display: flex;
    justify-content: space-between;
    padding: 60px 145px;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    @media (max-width: 990.98px) {
      padding: 30px 80px;
    }
    @media (max-width: 479.98px) {
      padding: 30px 45px;
      justify-content: center;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
      span {
        border-bottom: 3px solid #f4ae26;
      }
      @media (max-width: 990.98px) {
        font-size: 20px;
      }
    }
    .search {
      display: flex;
      position: relative;
      z-index: 1;
      align-items: center;
      input {
        border-color: transparent;
        border-radius: 35px;
        box-shadow: 0px 0px 10px 0px #0000003b;
        background: url(/Search.svg) 10px 5px no-repeat;
        padding: 0 30px;
        max-width: 200px;
        height: 30px;
        background-color: #fff;

        &::placeholder {
          color: #000;
          font-family: "Poppins", sans-serif;
        }
        &:active,
        &:focus {
          font-family: "Poppins", sans-serif;
        }
      }
      img {
        position: absolute;
        right: 7px;
        cursor: pointer;
      }
    }
  }

  .row {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 120px;
    @media (max-width: 990.98px) {
      padding: 30px 15px;
    }
  }
}
